<html>

<head>
  <title>Express</title>
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>

  <%= title %>

  <canvas id="screen"></canvas>

  <script type="text/javascript" src="javascripts/clientConfig.js"></script>
  <script type="text/javascript" src="javascripts/SocketMasterClient.js"></script>

  <script type="text/javascript" src="javascripts/game_logic.js"></script>
  <script type='text/javascript' src="javascripts/test.js"></script>

  <script>



  </script>
</body>
</html>
